.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.leftSide-container {
    margin-left: 30px;
}

.allCards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-right: 30px;
}

.rightSide-container {
    text-align: center;
    background-color: rgb(246, 240, 233);
    box-shadow: 4px 4px 4px gray;
    margin-top: 15px;
    margin-right: 20px;
}

.rightSide-container img {

    width: 50px;
    border-radius: 30px;
}

.my-bio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-address {
    padding: 10px;
}

.p-info {
    padding: 15px;
    margin: 12px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-all {

    padding: 25px;
    margin: 12px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-break {
    border-radius: 20px;
    background-color: burlywood;
}