.allQuestions-container {

    margin: 30px;
    background-color: rgb(248, 236, 221);
    padding: 10px;
    border-radius: 14px;
    box-shadow: 4px 4px 4px gray;
}

.blogParagraph {
    background-color: bisque;
    box-shadow: 4px 4px 4px rgb(156, 154, 154);
    padding: 5px;
}